[submodule "data"]
	path = data
	url = https://github.com/psychoinformatics-de/studyforrest-data-structural.git
[submodule "derivatives"]
	path = derivatives
	url = ./derivatives
	datalad-id = 500472c3-f8e3-4bc6-8a43-778cc822b82b
